<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js" integrity="sha512-SVDh1zH5N9ChofSlNAK43lcNS7lWze6DTVx1JCXH1Tmno+0/1jMpdbR8YDgDUfcUrPp1xyE53G42GFrcM0CMVg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script defer type="text/javascript" src="/scripts/reminder.js"></script>


  <title>Smart TODO</title>
</head>

<body>
  <p>logged in as: <%= username %></p>

  <div class="container">
    <h1>Edit Profile</h1>
    <a href="/profile">
        <button class="btn btn-primary btn-lg">Edit Profile</button>
    </a>
</div>


  <div class="container">
    <h1>Remider</h1>
      <form class="form-inline">
        <textarea name="text" id="reminder-text" placeholder="What do you want to remember later?"></textarea>
        <button class="btn btn-primary btn-lg">Submit</button>
      </form>
  </div>
</div>


<div class="container">
    <h1>Loggout</h1>
    <a href="/">
        <button class="btn btn-primary btn-lg">Logout</button>
    </a>
</div>

<div id="reminder-container">
<!-- this is where all the reminders will go  -->
</div>

</body>

</html>
