<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Smart TODO</title>
</head>

<body>
  <p>logged in as: <%= username %></p>
  <h1>hey hey hey hey</h1>
  <p>Hello world</p>
  <div class="container">
    <h1 style="text-align:center;">Simple Html Button</h1>
    <a href="/profile">
        <button class="btn btn-primary btn-lg">Edit Profile</button>
    </a>
</div>

</body>

</html>
