<!DOCTYPE html>
<html lang="en">

<head>
  <title>Register</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

  <meta charset="UTF-8">

  <link rel="stylesheet" href="/styles/register.css" type="text/css" />

  <div class="materialContainer">
    <div class="box">
      <div class="title">REGISTER</div>

        <form class="form-inline" action="/register" method="POST">
          <div class="form-group mb-2">
            <label for="url">Username</label>
            <input class="form-control" type="text" name="username" placeholder="enter username" style="width: 300px; margin: 1em">
            <label for="url">Enter password</label>
            <input class="form-control" type="text" name="password" placeholder="password" style="width: 300px; margin: 1em">
            <div class="button login">
              <button><span>Submit</span> <i class="fa fa-check"></i></button>
           </div>
          </div>
        </form>
    </div>

  </div>

</body>
</html>
