body {
  font-family: Varela Round;
  background: #f1f1f1;
}

.row{
  display:contents ;
}

   .card-sl {
      border-radius: 8px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .card-image img {
      max-height: 100%;
      max-width: 100%;
      border-radius: 8px 8px 0px 0;
  }

  .card-action {
    position: relative;
    float: right;
    margin-top: -106px;
    margin-right: 20px;
    z-index: 2;
    color: #000000;
    background: #fff;
    border-radius: 100%;
    padding: 15px;
    font-size: 30px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
    font-family: sans-serif;
  }

  .card-heading {
      font-size: 30px;
      font-weight: bold;
      background: #fff;
      padding: 10px 15px;
  }

  .card-text {
      padding: 10px 15px;
      background: #fff;
      font-size: 15px;
      color: #636262;
  }

  .card-button {
    font-size: x-large;
      display: flex;
      justify-content: center;
      padding: 10px 0;
      width: 100%;
      background-color: red;
      font-family: system-ui;
      color: rgb(250, 248, 248);
      border-radius: 0 0 8px 8px;
  }




