
header{
	background: none;
  flex-direction: row;
    justify-content: space-between;
    font-family: system-ui;
}

#allheader{
  place-content: space-around;
}

.brand-logo{
	width: 100px;
	height: 100px;
	display: inline-block;
	margin: 10px 10px 0 0;
	float: right;
}


#remidercontainer{
  text-align: -webkit-center;
  padding-bottom: 30px;
 }

#remiderword{
  text-align: justify;
  padding-top: 30px;

}

#reminder-text{
  text-align: justify;
  width: 100%;
  resize: none;

}



