
header{
	background: none;
  flex-direction: row;
    justify-content: space-between;
    font-family: system-ui;
    text-align-last: center;
}

#allheader{
  place-content: space-around;
}

.brand-logo{
	width: 100px;
	height: 100px;
	display: inline-block;
	margin: 10px 10px 0 0;
	float: right;
}


#remidercontainer{
  text-align: -webkit-center;
  padding-bottom: 30px;
 }

#remiderword{
  text-align: justify;
  padding-top: 30px;

}

#reminder-text{
  text-align: justify;
  width: 100%;
  resize: none;

}

.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}



